<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="publicEvent">
      <h2 data-cy="publicEventDetailsHeading"><span jhiTranslate="xd365App.publicEvent.detail.title">Public Event</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ publicEvent.id }}</span>
        </dd>
        <dt><span jhiTranslate="xd365App.publicEvent.eventName">Event Name</span></dt>
        <dd>
          <span>{{ publicEvent.eventName }}</span>
        </dd>
        <dt><span jhiTranslate="xd365App.publicEvent.eventDate">Event Date</span></dt>
        <dd>
          <span>{{ publicEvent.eventDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="xd365App.publicEvent.eventEndDate">Event End Date</span></dt>
        <dd>
          <span>{{ publicEvent.eventEndDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="xd365App.publicEvent.howManyInstances">How Many Instances</span></dt>
        <dd>
          <span>{{ publicEvent.howManyInstances }}</span>
        </dd>
        <dt *ngIf="publicEvent.howManyInstances! > 1"><span jhiTranslate="xd365App.publicEvent.cycleLength">Cycle Length</span></dt>
        <dd *ngIf="publicEvent.howManyInstances! > 1">
          <span>{{ publicEvent.cycleLength }}</span>
        </dd>
        <dt *ngIf="publicEvent.howManyInstances! > 1"><span jhiTranslate="xd365App.publicEvent.cycleUnit">Cycle Unit</span></dt>
        <dd *ngIf="publicEvent.howManyInstances! > 1">
          <span jhiTranslate="{{ 'xd365App.TimeUnits.' + publicEvent.cycleUnit }}">{{ publicEvent.cycleUnit }}</span>
        </dd>
        <dt *ngIf="publicEvent.category != null"><span jhiTranslate="xd365App.publicEvent.category">Category</span></dt>
        <dd *ngIf="publicEvent.category != null">
          <span jhiTranslate="{{ 'xd365App.Category.' + publicEvent.category }}">{{ publicEvent.category }}</span>
        </dd>
        <dt><span jhiTranslate="xd365App.publicEvent.description">Description</span></dt>
        <dd>
          <span>{{ publicEvent.description }}</span>
        </dd>
        <dt><span jhiTranslate="xd365App.publicEvent.userlogin">Userlogin</span></dt>
        <dd>
          <span>{{ publicEvent.userlogin }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
      <ng-template *ngIf="account" [ngIf]="isAuthor(publicEvent.userlogin!, account.login)">
        <button type="button" [routerLink]="['/public-event', publicEvent.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </ng-template>
    </div>
  </div>
</div>
