<ng-template [ngIf]="importEvents()"> </ng-template>
<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4" jhiTranslate="home.title">Welcome to xd365!</h1>

    <p class="lead" jhiTranslate="home.subtitle">The only calendar you'll ever need</p>

    <div [ngSwitch]="isAuthenticated()">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >You are logged in as user "{{ account.login }}".</span
        >
      </div>
    </div>

    <p jhiTranslate="home.events" *ngIf="!isTodayEventsEmpty()">Today's events</p>

    <ul>
      <div *ngFor="let event of todayEvents">
        <ng-template [ngIf]="todayEventsGetHours(event)"> </ng-template>
        <li>
          <a *ngIf="listHoursStatus == 0" [routerLink]="['/' + event.id + '/view']">
            <span>{{ event.title }}:</span>
            <span jhiTranslate="home.listHoursStatus.0"> Whole day</span>
          </a>
          <a *ngIf="listHoursStatus == 2" [routerLink]="['/' + event.id + '/view']">
            <span>{{ event.title }}:</span>
            <span jhiTranslate="home.listHoursStatus.2"> From </span>
            <span>{{ hours }}</span>
          </a>
          <a *ngIf="listHoursStatus == 3" [routerLink]="['/' + event.id + '/view']">
            <span>{{ event.title }}:</span>
            <span jhiTranslate="home.listHoursStatus.3"> To </span>
            <span>{{ hours }}</span>
          </a>
          <a *ngIf="listHoursStatus == 1" [routerLink]="['/' + event.id + '/view']">{{ event.title }}: {{ hours }}</a>
        </li>
      </div>
    </ul>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        jhiTranslate="home.button.previous"
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Previous
      </div>
      <div jhiTranslate="home.button.today" class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">Today</div>
      <div
        jhiTranslate="home.button.next"
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate: view + 'ViewTitle':'en':weekStartsOn }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        jhiTranslate="home.button.month"
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Month
      </div>
      <div
        jhiTranslate="home.button.week"
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
      </div>
      <div
        jhiTranslate="home.button.day"
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Day
      </div>
    </div>
  </div>
</div>
<br />
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    [weekStartsOn]="weekStartsOn"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [weekStartsOn]="weekStartsOn"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>

<br />

<button
  id="jh-create-entity"
  data-cy="entityCreateButton"
  class="btn btn-primary jh-create-entity create-event"
  [routerLink]="['/event/new']"
>
  <fa-icon icon="plus"></fa-icon>
  <span jhiTranslate="xd365App.event.home.createLabel"> Create a new Event </span>
</button>
<button
  id="jh-create-entity"
  data-cy="entityCreateButton"
  class="btn btn-primary jh-create-entity create-public-event"
  [routerLink]="['/public-event/new']"
>
  <fa-icon icon="plus"></fa-icon>
  <span jhiTranslate="xd365App.publicEvent.home.createLabel"> Create a new Public Event </span>
</button>

<button id="showPublicEvents" class="btn btn-primary jh-create-entity create-public-event" (click)="togglePublicEventsView()">
  <span jhiTranslate="home.publicEventView.show" *ngIf="!showPublicEvents"> Show public events </span>
  <span jhiTranslate="home.publicEventView.hide" *ngIf="showPublicEvents"> Hide public events </span>
</button>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
  </div>
</ng-template>
