<div>
  <h2 id="page-heading" data-cy="PublicEventHeading">
    <span jhiTranslate="xd365App.publicEvent.home.title">Public Events</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="xd365App.publicEvent.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-public-event"
        [routerLink]="['/public-event/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="xd365App.publicEvent.home.createLabel"> Create a new Public Event </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="publicEvents?.length === 0">
    <span jhiTranslate="xd365App.publicEvent.home.notFound">No publicEvents found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="publicEvents && publicEvents.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="xd365App.publicEvent.eventName">Event Name</span></th>
          <th scope="col"><span jhiTranslate="xd365App.publicEvent.eventDate">Event Date</span></th>
          <th scope="col"><span jhiTranslate="xd365App.publicEvent.eventEndDate">Event End Date</span></th>
          <th scope="col"><span jhiTranslate="xd365App.publicEvent.howManyInstances">How Many Instances</span></th>
          <th scope="col"><span jhiTranslate="xd365App.publicEvent.cycleLength">Cycle Length</span></th>
          <th scope="col"><span jhiTranslate="xd365App.publicEvent.cycleUnit">Cycle Unit</span></th>
          <th scope="col"><span jhiTranslate="xd365App.publicEvent.category">Category</span></th>
          <th scope="col"><span>Author</span></th>
          <!--<th scope="col"><span jhiTranslate="xd365App.publicEvent.userlogin">Author</span></th>-->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let publicEvent of publicEvents; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/public-event', publicEvent.id, 'view']">{{ publicEvent.id }}</a>
          </td>
          <td>{{ publicEvent.eventName }}</td>
          <td>{{ publicEvent.eventDate | formatMediumDatetime }}</td>
          <td>{{ publicEvent.eventEndDate | formatMediumDatetime }}</td>
          <td>{{ publicEvent.howManyInstances }}</td>
          <td>{{ publicEvent.cycleLength }}</td>
          <td jhiTranslate="{{ 'xd365App.TimeUnits.' + publicEvent.cycleUnit }}">{{ publicEvent.cycleUnit }}</td>
          <td jhiTranslate="{{ 'xd365App.Category.' + publicEvent.category }}">{{ publicEvent.category }}</td>
          <td>{{ publicEvent.userlogin }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/public-event', publicEvent.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>
              <ng-template *ngIf="account" [ngIf]="isAuthor(publicEvent.userlogin!, account.login)">
                <button
                  type="submit"
                  [routerLink]="['/public-event', publicEvent.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>

                <button type="submit" (click)="delete(publicEvent)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </ng-template>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
