<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="event">
      <h2 data-cy="eventDetailsHeading"><span jhiTranslate="xd365App.event.detail.title">Event</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ event.id }}</span>
        </dd>
        <dt><span jhiTranslate="xd365App.event.eventName">Event Name</span></dt>
        <dd>
          <span>{{ event.eventName }}</span>
        </dd>
        <dt><span jhiTranslate="xd365App.event.eventDate">Event Date</span></dt>
        <dd>
          <span>{{ event.eventDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="xd365App.event.eventEndDate">Event End Date</span></dt>
        <dd>
          <span>{{ event.eventEndDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="xd365App.event.howManyInstances">How Many Instances</span></dt>
        <dd>
          <span>{{ event.howManyInstances }}</span>
        </dd>
        <dt *ngIf="event.howManyInstances! > 1"><span jhiTranslate="xd365App.event.cycleLength">Cycle Length</span></dt>
        <dd *ngIf="event.howManyInstances! > 1">
          <span>{{ event.cycleLength }}</span>
        </dd>
        <dt *ngIf="event.howManyInstances! > 1"><span jhiTranslate="xd365App.event.cycleUnit">Cycle Unit</span></dt>
        <dd *ngIf="event.howManyInstances! > 1">
          <span jhiTranslate="{{ 'xd365App.TimeUnits.' + event.cycleUnit }}">{{ event.cycleUnit }}</span>
        </dd>
        <dt *ngIf="event.category != null"><span jhiTranslate="xd365App.event.category">Category</span></dt>
        <dd *ngIf="event.category != null">
          <span jhiTranslate="{{ 'xd365App.Category.' + event.category }}">{{ event.category }}</span>
        </dd>
        <!-- <dt><span jhiTranslate="xd365App.event.userlogin">Userlogin</span></dt>
        <dd>
          <span>{{ event.userlogin }}</span>
        </dd> -->
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/event', event.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
